body{
    margin: 0;
    user-select: none;
}

#titletext {
    padding: 8px 8px 2px 0px;
    text-align: center;
    height: 71px;
}

.logo {
    cursor: pointer;
    height: auto;
    height: 85%;
}

#wrapper {
    margin: 0px 0px;
    width: 275px;
    font-size: 13px;
    max-height: 600px;
}

#header{
    background-color: #F4F4F4;
    border-bottom: 1px solid #CACACA;
}

#logo-text{

}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li{
    line-height: 40px;
    height: 40px;
    cursor: pointer;
    display: block;
    position: relative;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-left: 20px;
    text-decoration: none;
    color: #000;
    overflow-y: visible;
}